<form action="#" method="post" [formGroup]="deviceForm" (ngSubmit)="onDeviceFormSubmit()">
    <div class="w-full max-w-lg sm:max-w-lg max-h-[90vh] overflow-y-auto px-1">
        <div class="mb-4 flex flex-col text-center sm:text-left">
            <div class="text-xl font-semibold leading-none tracking-tight">
                {{ formTitle() }}
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 py-2">
            <div class="flex flex-col gap-3 col-span-2">
                <label for="name" class="text-sm font-medium leading-none">Name</label>
                <app-input
                    id="name"
                    appInputType="text"
                    name="name"
                    formControlName="name"
                ></app-input>
                @if (name?.invalid && name?.touched) {
                    @if (name?.hasError('required')) {
                        <div class="text-xs text-destructive">This field is required.</div>
                    }
                }
            </div>
            <div class="flex flex-col gap-3 col-span-2">
                <label for="manufacturer" class="text-sm font-medium leading-none"
                    >Manufacturer</label
                >
                <app-input
                    id="manufacturer"
                    appInputType="text"
                    name="type"
                    formControlName="manufacturer"
                ></app-input>
                @if (manufacturer?.invalid && manufacturer?.touched) {
                    @if (manufacturer?.hasError('required')) {
                        <div class="text-xs text-destructive">This field is required.</div>
                    }
                }
            </div>
            <div class="flex flex-col gap-3 col-span-2">
                <label for="type" class="text-sm font-medium leading-none">Type</label>
                <app-dropdown
                    [options]="typeOptions"
                    [currentValue]="type?.value ?? null"
                    (optionSelected)="typeSelected($event)"
                ></app-dropdown>
                @if (type?.invalid && type?.touched) {
                    @if (type?.hasError('required')) {
                        <div class="text-xs text-destructive">This field is required.</div>
                    }
                }
            </div>
            <div class="flex flex-col gap-3">
                <label for="operatingSystem" class="text-sm font-medium leading-none"
                    >Operating System</label
                >
                <app-input
                    id="operatingSystem"
                    appInputType="text"
                    name="operatingSystem"
                    formControlName="operatingSystem"
                ></app-input>
                @if (operatingSystem?.invalid && operatingSystem?.touched) {
                    @if (operatingSystem?.hasError('required')) {
                        <div class="text-xs text-destructive">This field is required.</div>
                    }
                }
            </div>
            <div class="flex flex-col gap-3">
                <label for="osVersion" class="text-sm font-medium leading-none">OS Version</label>
                <app-input
                    id="osVersion"
                    appInputType="text"
                    name="osVersion"
                    formControlName="osVersion"
                ></app-input>
            </div>
            <div class="flex flex-col gap-3">
                <label for="processor" class="text-sm font-medium leading-none">Processor</label>
                <app-input
                    id="processor"
                    appInputType="text"
                    name="processor"
                    formControlName="processor"
                ></app-input>
                @if (processor?.invalid && processor?.touched) {
                    @if (processor?.hasError('required')) {
                        <div class="text-xs text-destructive">This field is required.</div>
                    }
                }
            </div>
            <div class="flex flex-col gap-3">
                <label for="ram" class="text-sm font-medium leading-none">RAM [GB]</label>
                <app-input
                    id="ram"
                    appInputType="number"
                    name="ram"
                    formControlName="ram"
                ></app-input>
                @if (ram?.invalid && ram?.touched) {
                    @if (ram?.hasError('required')) {
                        <div class="text-xs text-destructive">This field is required.</div>
                    }
                }
            </div>
            <div class="flex flex-col gap-3 col-span-2">
                <label for="userId" class="text-sm font-medium leading-none">Assigned User</label>
                <app-dropdown
                    [options]="userOptions()"
                    [currentValue]="userId?.value ?? null"
                    (optionSelected)="userSelected($event)"
                ></app-dropdown>
            </div>
            <div class="flex flex-col gap-3 col-span-2">
                <label for="description" class="text-sm font-medium leading-none"
                    >Description</label
                >
                <app-input
                    id="description"
                    appInputType="textarea"
                    name="description"
                    formControlName="description"
                ></app-input>
            </div>
        </div>
        <div class="flex gap-3 mt-2 flex-row justify-between space-x-2">
            <app-button
                (btnClick)="handleGenDescription()"
                [buttonVariant]="ButtonVariant.SECONDARY"
                [buttonSize]="ButtonSize.SMALL"
                >Generate Description</app-button
            >
            <div class="flex flex-row gap-3">
                <app-button
                    (btnClick)="formCancelled.emit()"
                    [buttonVariant]="ButtonVariant.OUTLINE"
                    [buttonSize]="ButtonSize.DEFAULT"
                    >Cancel</app-button
                >
                <app-button
                    (btnClick)="onDeviceFormSubmit()"
                    [btnDisabled]="!deviceForm.valid"
                    [buttonVariant]="ButtonVariant.DEFAULT"
                    [buttonSize]="ButtonSize.DEFAULT"
                    >Save</app-button
                >
            </div>
        </div>
    </div>
</form>
