@if (this.isOpen()) {
    <div
        class="backdrop-blur-sm backdrop-brightness-50 fixed top-0 left-0 z-99999 w-lvw h-lvh flex flex-col items-center justify-center"
        (click)="close()"
    >
        <div
            class="relative bg-background p-8 min-w-xl max-w-xl border rounded-xl border-accent"
            (click)="$event.stopPropagation()"
        >
            <div class="absolute right-0 top-0 p-3">
                <app-button
                    [buttonVariant]="ButtonVariant.GHOST"
                    [buttonSize]="ButtonSize.ICON"
                    (click)="close()"
                >
                    <lucide-angular class="h-4 w-4" [img]="X"></lucide-angular>
                </app-button>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
}
